---
title: Create subset of FMA data
author: Maya Flannery
date: "2024-01-16"
format:
    html:
        embed-resources: true
---

In [1]:
import pandas as pd

## Read data

FMA repository is [here](https://github.com/mdeff/fma)

- Download the metadata file [here](https://os.unil.cloud.switch.ch/fma/fma_metadata.zip) and unzip to `data-FMA` folder
- `tracks.csv` contains album, name, genre, and tags
- only a portion have complete tag information

In [2]:
filePath = "data-FMA/tracks.csv"
df = pd.read_csv(filePath, header=[0,1], index_col=0)
df.head(1)

            album                                                     \
         comments         date_created        date_released engineer
track_id
2               0  2008-11-26 01:44:45  2009-01-05 00:00:00      NaN

                                                         ...       track  \
         favorites id information listens producer tags  ... information
track_id                                                 ...
2                4  1     <p></p>    6073      NaN   []  ...         NaN

                                 \
         interest language_code
track_id
2            4656            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN


         number publisher tags title
track_id
2             3       NaN   []  Food

[1 rows x 52 columns]

### FYI: Subsetting a multiindex (columns)

In [3]:
df["album"].loc[0:2] # Return all level 2 columns under "album" in level 1

,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type
track_id,,,,,,,,,,,,,
2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,[],AWOL - A Way Of Life,7,Album

In [4]:
df["track"].loc[3:4] # Retrun all level 2 columns under "track" in level 1

,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,genres_all,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
track_id,,,,,,,,,,,,,,,,,,,,
3,256000,0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237,1,Hip-Hop,[21],[21],NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave

In [5]:
df["album"]["date_created"].loc[5:10] # Return "date_created" under "album"

track_id
5     2008-11-26 01:44:45
10    2008-11-26 01:45:08
Name: date_created, dtype: object

In [6]:
df[[("artist", "id"), ("track", "composer")]] # Alternative method

         artist      track
             id   composer
track_id
2             1        NaN
3             1        NaN
5             1        NaN
10            6  Kurt Vile
20            4        NaN
...         ...        ...
155316    24357        NaN
155317    24357        NaN
155318    24357        NaN
155319    24357        NaN
155320    21615        NaN

[106574 rows x 2 columns]

## Filter out tracks without tags

In [7]:
df_tags = df[df["track"]["tags"] != "[]"] # Exclude rows with empty tag values
df_tags.shape

(23496, 52)

## Select columns of interest

In [8]:
df_tags.columns # View column options

MultiIndex([( 'album',          'comments'),
            ( 'album',      'date_created'),
            ( 'album',     'date_released'),
            ( 'album',          'engineer'),
            ( 'album',         'favorites'),
            ( 'album',                'id'),
            ( 'album',       'information'),
            ( 'album',           'listens'),
            ( 'album',          'producer'),
            ( 'album',              'tags'),
            ( 'album',             'title'),
            ( 'album',            'tracks'),
            ( 'album',              'type'),
            ('artist', 'active_year_begin'),
            ('artist',   'active_year_end'),
            ('artist', 'associated_labels'),
            ('artist',               'bio'),
            ('artist',          'comments'),
            ('artist',      'date_created'),
            ('artist',         'favorites'),
            ('artist',                'id'),
            ('artist',          'latitude'),
            ('artist',          'location'),
            ('artist',         'longitude'),
            ('artist',           'members'),
            ('artist',              'name'),
            ('artist',  'related_projects'),
            ('artist',              'tags'),
            ('artist',           'website'),
            ('artist',    'wikipedia_page'),
            (   'set',             'split'),
            (   'set',            'subset'),
            ( 'track',          'bit_rate'),
            ( 'track',          'comments'),
            ( 'track',          'composer'),
            ( 'track',      'date_created'),
            ( 'track',     'date_recorded'),
            ( 'track',          'duration'),
            ( 'track',         'favorites'),
            ( 'track',         'genre_top'),
            ( 'track',            'genres'),
            ( 'track',        'genres_all'),
            ( 'track',       'information'),
            ( 'track',          'interest'),
            ( 'track',     'language_code'),
            ( 'track',           'license'),
            ( 'track',           'listens'),
            ( 'track',          'lyricist'),
            ( 'track',            'number'),
            ( 'track',         'publisher'),
            ( 'track',              'tags'),
            ( 'track',             'title')],
           )

In [9]:
df_tags_select = df_tags[[
    ("artist", "name"), 
    ("album", "title"), 
    ("track", "title"),
    ("track", "genre_top"),
    ("track", "genres"),
    ("track", "genres_all"),
    ("track", "tags")
]]
df_tags_select.head()

              artist            album                          track  \
                name            title                          title
track_id
137           Airway     Live at LACE                         Side A
138           Airway     Live at LACE                         Side B
850       Human Host  Exploding Demon                Tomb Of Science
851       Human Host  Exploding Demon                     Six Realms
852       Human Host  Exploding Demon  Escape From the Organ Chamber


             genre_top   genres   genres_all           tags
track_id
137       Experimental  [1, 32]  [32, 1, 38]      ['lafms']
138       Experimental  [1, 32]  [32, 1, 38]      ['lafms']
850               Rock     [12]         [12]  ['baltimore']
851               Rock     [12]         [12]  ['baltimore']
852               Rock     [12]         [12]  ['baltimore']

In [12]:
df_tags_select.describe() #Provides count summaries for table

           artist              album     track                \
             name              title     title     genre_top
count       23496              23496     23496          8744
unique       4585               2700     22231            16
top     Ars Sonor  microSong Entries  Untitled  Experimental
freq          266                310        37          2190

                                            \
                  genres        genres_all
count              23496             23496
unique              1632              1470
top     [15, 32, 38, 41]  [32, 41, 38, 15]
freq                 734               734


                                                     tags
count                                               23496
unique                                               2450
top     ['interiors c1964', 'existential', 'hardcore-p...
freq                                                  310

## Write subset to csv for further analysis

In [11]:
df_tags_select.to_csv("data-processed/tracks-tags.csv")